@import 'theme';

* {
	margin: 0;
}
body {
	background-color: $g-100;
	-webkit-font-smoothing: antialiased;
	margin-left: 8vw;
	margin-right: 8vw;
	overflow-x: hidden !important;

	a {
		text-decoration: none;
		color: $g-600;
		transition: all 0.2s ease-in-out;
		&:visited {
			color: $g-600;
		}
		&:hover {
			color: $g-900;
		}
	}
}

.header {
	top: 0;
	z-index: 999;
	padding-top: 48px;
	padding-bottom: 24px;
	height: auto;
	height: 6vh;
	display: flex;
	align-items: center;
	position: sticky;
	justify-content: space-between;
	animation: fade-in 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
	opacity: 0;
	width: 100vw;
	margin-left: -8vw;
	transition: all 0.2s ease-in-out;

	.left {
		margin-left: 8vw;
		img {
			width: 32px;
		}
	}
	.right {
		display: flex;
		margin-right: 8vw;
	}
	.overlay {
		width: 100vw;
		height: 200vh;
		background-color: black;
		position: fixed;
		transition: all 0.2s ease-in-out;
		opacity: 0;
		display: none;
	}
}

.body {
	margin-top: 12vh;
	margin-bottom: 8vh;

	z-index: 99999;
	.hero {
		font-family: circular;
		width: 40vw;
		.heading-container {
			font-size: 60px;
			letter-spacing: -2.4px;
			font-weight: 600;
			line-height: 72px;
			color: $g-900;
			overflow: hidden;
			.heading {
				animation: push-up 0.6s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
				transform: translateY(100%);
			}
		}
		.subheading-container {
			margin-top: 2vh;
			font-size: 20px;
			letter-spacing: -0.6px;
			font-weight: 200;
			line-height: 34px;
			color: $g-700;
			overflow: hidden;
			.subheading {
				animation: push-up 0.6s cubic-bezier(0.65, 0, 0.35, 1) 1.2s forwards;
				transform: translateY(100%);
			}
		}
	}
	.project-cards {
		margin-top: 12vh;
		display: flex;
		flex-wrap: wrap;
		gap: 1vw;

		.card-1 {
			@include project-card-big;
			background-color: #071936;
			.img {
				text-align: center;
				img {
					width: 44vw;
				}
			}
		}
		.card-2 {
			@include project-card-small;
			background-color: #c676ae;
			.img {
				text-align: center;
				img {
					width: 32vw;
				}
			}
		}
		.card-3 {
			@include project-card-small;
			background-color: #e95454;
			.img {
				img {
					width: 30vw;
				}
			}
		}
		.card-4 {
			@include project-card-big;
			background-color: #02a971;

			.img {
				text-align: center;
				img {
					width: 32vw;
				}
			}
		}
		.card-5 {
			@include project-card-big;
			background-color: #cbebfd;
			.body {
				color: $g-900;
			}
			.img {
				text-align: center;
				img {
					width: 32vw;
				}
			}
		}
		.card-6 {
			@include project-card-small;
			background-color: #061d45;
			.body {
			}
			.img {
				text-align: center;
				img {
					width: 18vw;
				}
			}
		}
		.card-7 {
			@include project-card-small;
			background-color: $g-300;
			.body {
				color: $g-900;
			}
			.img {
				text-align: center;
				img {
					width: 32vw;
				}
			}
		}
		.card-8 {
			@include project-card-big;
			background-color: #67cbaa;
			.body {
				width: 72%;
			}
			.img {
				text-align: center;
				img {
					width: 40vw;
				}
			}
		}
		.card-9 {
			@include project-card-big;
			background-color: #9473f2;
			.body {
				width: 72%;
			}
			.img {
				img {
					width: 32vw;
				}
			}
		}
		.card-10 {
			@include project-card-small;
			background-color: $g-900;
			.body {
			}
			.img {
				text-align: center;
				img {
					width: 32vw;
				}
			}
		}
	}
}

#menuToggle {
	display: block;
	position: relative;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;

	li {
		width: max-content;
		margin-bottom: 4vh;
	}

	a {
		text-decoration: none;
		color: $g-100;
		transition: color 0.3s ease;

		&:hover {
			color: $g-600;
		}
	}

	input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */

		-webkit-touch-callout: none;
	}

	span {
		display: block;
		cursor: pointer;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: $g-900;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	}
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: $g-100;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: fixed;
	width: 800px;
	margin: -100px 0 0 -50px;
	margin-top: -110px;
	margin-left: -720px;
	padding: 50px;
	padding-top: 200px;
	padding-left: 100px;
	height: 100vh;
	background: #0d0d0d;
	list-style-type: none;
	float: right;
	-webkit-font-smoothing: antialiased;

	transform-origin: 0% 0%;
	transform: translate(300%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

	li {
		padding: 10px 0;
		font-size: 32px;
		font-weight: 400;
		font-family: circular;
		cursor: pointer;
	}
}

#menuToggle input:checked ~ ul {
	transform: none;
}

.gradients {
	position: fixed;
	z-index: -1;
	transition: all 0.2s ease-in-out;
	.circle-1 {
		position: absolute;
		z-index: 999;
		width: 1000px;
		height: 1000px;
		border-radius: 50%;
		background-color: #f3a0a0;
		filter: blur(500px);
		transform: translate(48vw, -30vh);
		//animation: mover-1 10s ease infinite forwards;

		@keyframes mover-1 {
			0% {
				transform: translate(48vw, -30vh);
			}
			33% {
				transform: translate(56vw, -22vh);
			}
			100% {
				transform: translate(48vw, -30vh);
			}
		}
	}
	.circle-2 {
		position: absolute;
		z-index: 9999;
		width: 500px;
		height: 500px;
		border-radius: 50%;
		background-color: #63c3fa;
		filter: blur(500px);
		transform: translate(10vw, -8vh);
		animation: mover-2 8s ease 2s infinite forwards;

		@keyframes mover-2 {
			0% {
				transform: translate(10vw, -8vh);
			}
			33% {
				transform: translate(16vw, 0vh);
			}
			100% {
				transform: translate(10vw, -8vh);
			}
		}
	}
	.circle-3 {
		position: absolute;
		z-index: 9999;
		width: 500px;
		height: 500px;
		border-radius: 50%;
		background-color: #f6c24c;
		filter: blur(500px);
		transform: translate(20vw, 32vh);
		animation: mover-3 6s ease 4s infinite forwards;

		@keyframes mover-3 {
			0% {
				transform: translate(20vw, 32vh);
			}
			33% {
				transform: translate(10vw, 24vh);
			}
			100% {
				transform: translate(20vw, 32vh);
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.body {
		.hero {
			width: 40vw;
		}
	}
}

@media screen and (max-width: 1200px) {
	.body {
		.hero {
			width: 50vw;
		}
		.project-cards {
			.card-1 {
				height: 480px;
			}
			.card-2 {
				height: 480px;
			}
			.card-3 {
				height: 480px;
			}
			.card-4 {
				height: 480px;
				.img {
					img {
						width: 44vw;
					}
				}
			}
			.card-5 {
				height: 480px;
				.img {
					img {
						width: 44vw;
					}
				}
			}
			.card-6 {
				height: 480px;
			}
			.card-7 {
				height: 480px;
			}
			.card-8 {
				.img {
					img {
						width: 50vw;
					}
				}
			}
			.card-9 {
				.img {
					img {
						width: 40vw;
					}
				}
			}
			.card-10 {
				height: 480px;
			}
		}
	}
	#menu {
		margin-left: -560px;
	}
}

@media screen and (max-width: 900px) {
	.body {
		.hero {
			.heading-container {
				font-size: 52px;
				line-height: 64px;
			}
			.subheading-container {
				font-size: 18px;
			}
		}
		.project-cards {
			.card-1 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-2 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-3 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-4 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-5 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-6 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-7 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-8 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-9 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
			.card-10 {
				.body {
					.heading {
						font-size: 30px;
					}
					.subheading {
						font-size: 20px;
						line-height: 32px;
					}
				}
			}
		}
	}
	#menu {
		margin-left: -460px;
	}
}

@media screen and (max-width: 620px) {
	.body {
		.hero {
			width: 72vw;
			.heading-container {
				font-size: 52px;
				line-height: 64px;
			}
			.subheading-container {
				font-size: 18px;
			}
		}
		.project-cards {
			.card-1 {
				width: 100%;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-2 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-3 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-4 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-5 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-6 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-7 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-8 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-9 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
			.card-10 {
				width: 100%;
				margin-top: 8px;
				.body {
					width: 80%;
					margin-left: 8vw;
				}
				.img {
					img {
						width: 72vw;
					}
				}
			}
		}
	}
	#menu {
		margin-left: -532px;
		padding-left: 80px;
	}
}

@media screen and (max-width: 480px) {
	body {
		margin-left: 6vw;
		margin-right: 6vw;
	}
	.header {
		width: 102vw;
		margin-top: 24px !important;
		margin-bottom: 28px;
		.right {
			margin-right: 6vw;
			span {
				width: 32px;
				margin-bottom: 4px;
			}
		}
		.left {
			img {
				transform: scale(0.9);
			}
		}
	}
	.body {
		.hero {
			width: 80vw;
			.heading-container {
				font-size: 48px;
				line-height: 58px;
			}
			.subheading-container {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
	#menu {
		margin-left: -420px;
		padding-left: 80px;
	}
}
