@import 'theme';

* {
	margin: 0;
}
body {
	background-color: $g-100;
	-webkit-font-smoothing: antialiased;
	margin-left: 8vw;
	margin-right: 8vw;

	a {
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		&:visited {
			color: $g-600;
		}
		&:hover {
			color: $g-900;
		}
	}
}

.header {
	height: auto;
	margin-top: 4vh;
	height: 6vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	animation: fade-in 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
	opacity: 0;
	.right {
		display: flex;
		ul {
			color: $g-600;
			font-family: circular;
			font-size: 16px;
			letter-spacing: -0.6px;
			cursor: pointer;
			padding-left: 0;
			margin-left: 2vw;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: $g-900;
			}
		}
	}
}

.body {
	margin-top: 10vh;
	.project-listings {
		display: flex;
		gap: 2vw;
		flex-wrap: wrap;
		.card {
			flex: 1 0 0;
			min-width: 25%;
			max-width: 32%;
			transition: all 0.1s ease-in-out;
			cursor: pointer;
			.thumbnail {
				border-radius: 8px;
				background-color: $g-300;
				overflow: hidden;
				background-repeat: no-repeat;
				background-size: contain;
				transition: all 0.1s ease-in-out;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					transform: scale(1.1);
				}
			}
			.heading {
				font-family: circular;
				font-weight: 200;
				font-size: 24px;
				letter-spacing: -0.8px;
				color: $g-600;
				margin-top: 2vh;
				line-height: 36px;
			}

			&:hover {
				transform: scale(1.01);
			}
			&:hover > .thumbnail {
				box-shadow: 0px 24px 60px 0px rgba(15, 30, 86, 0.2);
			}
		}
	}
}
