@import 'theme';

* {
	margin: 0;
}

body {
	background-color: white;
	-webkit-font-smoothing: antialiased;
	margin-left: 8vw;
	margin-right: 8vw;
}
.header {
	height: auto;
	margin-top: 4vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	animation: fade-in 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
	opacity: 0;
	.left {
		.banner {
			width: max-content;
			background-color: #f4f5f7;
			display: flex;
			border-color: #d84c4c;
			border: 1px solid #f0f1f4;
			align-items: center;
			border-radius: 100px;
			position: relative;

			.foreground {
				color: white;
				font-family: circular;
				background-color: #1a202c;
				border-radius: 100px;
				font-weight: 800;
				font-size: 12px;
				padding: 16px 20px;
				margin: 8px;
			}
			.background {
				color: #4a5568;
				font-family: circular;
				font-weight: 200;
				width: 260px;
				overflow: hidden;
				white-space: nowrap;
				.fader {
					height: 20px;
					background-image: linear-gradient(to right, rgba(244, 245, 247, 1), rgba(244, 245, 247, 0));
					position: absolute;
					z-index: 99;
					width: 8px;
				}
				.marquee {
					margin-left: 8px;
				}
			}
		}
		img {
			width: 0px;
			opacity: 0.7;
			margin-top: 2vh;
		}
	}
	.right {
		display: flex;
		ul {
			color: #7c8698;
			font-family: circular;
			font-size: 16px;
			letter-spacing: -0.6px;
			cursor: pointer;
			padding-left: 0;
			margin-left: 2vw;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: #1a202c;
			}
		}
	}
}
.body {
	text-align: center;
	margin-top: 12vh;

	img {
		width: 600px;
	}
	.hero-container {
		width: max-content;
		margin: 0 auto;
		overflow: hidden;
		.hero-content {
			font-family: circular;
			font-size: 32px;
			letter-spacing: -1.6px;
			line-height: 50px;
			font-weight: 600;
			color: #1a202c;
			margin: 0 auto;
			width: 32vw;
			animation: push-up 0.6s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
			transform: translateY(100%);
		}
	}
	.join-us {
		justify-content: center;
		margin-top: 3vh;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			background-color: #e95454;
			border: none;
			color: white;
			font-size: 18px;
			letter-spacing: -1px;
			font-family: circular;
			padding: 16px 28px;
			padding-bottom: 18px;
			border-radius: 200px;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: #d84c4c;
				transform: scale(1.02);
				box-shadow: 0px 12px 32px rgba(216, 76, 76, 0.3);
			}

			&:hover + .response {
				opacity: 0.6;
			}

			.container {
				width: 100%;
			}
			.eye {
				position: relative;
				display: inline-block;
				border-radius: 50%;
				height: 12px;
				width: 12px;
			}
			.eye:after {
				position: absolute;
				bottom: 8px;
				right: 3px;
				width: 6px;
				height: 6px;
				background: #fdecec;
				border-radius: 50%;
				content: ' ';
			}
		}
		.response {
			font-size: 12px;
			font-family: circular;
			margin-top: 16px;
			color: #7c8698;
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}
	}
}

.footer {
	position: fixed;
	bottom: 3vh;
	right: 8vw;
	display: flex;
	align-content: flex-end;
	animation: fade-in 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
	opacity: 0;
	ul {
		li {
			list-style-type: none;
			img {
				margin-left: 1vw;
				opacity: 0.4;
				padding: 16px;
				padding-right: 0;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
