$g-100: #ffffff;
$g-300: #f4f5f7;
$g-400: #dfe1e6;
$g-600: #7c8698;
$g-700: #4a5568;
$g-800: #2d3748;
$g-900: #1a202c;
$red-100: #fdecec;
$green-100: #e6f6f1;
$violet-100: #dbd0fb;
$blue-100: #ebf2ff;

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Light.ttf);
	font-family: circular;
	font-weight: 200;
}

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Book.ttf);
	font-family: circular;
	font-weight: 400;
}

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Medium.ttf);
	font-family: circular;
	font-weight: 600;
}

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Bold.ttf);
	font-family: circular;
	font-weight: 800;
}

@font-face {
	src: url(/resources/fonts/Freight-Pro/FreightTextProBook-Regular.otf);
	font-family: freight;
	font-weight: 400;
}

@font-face {
	src: url(/resources/fonts/Freight-Pro/FreightTextProBold-Regular.otf);
	font-family: freight;
	font-weight: 800;
}

@keyframes push-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes push-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@mixin project-card-big {
	height: 560px;
	width: 59.8%;
	background-color: #06132a;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
	.body {
		color: $g-100;
		font-family: circular;
		margin-left: 4vw;
		margin-top: 8vh;
		margin-bottom: 6vh;
		width: 72%;

		.heading {
			font-size: 36px;
			font-weight: 400;
			letter-spacing: -1.2px;
		}
		.subheading {
			font-size: 22px;
			font-weight: 200;
			margin-top: 1vh;
			line-height: 36px;
			letter-spacing: -0.4px;
			opacity: 0.8;
		}
	}
	.img {
		text-align: center;
		img {
			width: 44vw;
		}
	}
}

@mixin project-card-small {
	height: 560px;
	width: 38%;
	background-color: #06132a;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;

	.body {
		color: $g-100;
		width: 72%;
		font-family: circular;
		margin-top: 8vh;
		margin-left: 4vw;
		margin-bottom: 6vh;

		.heading {
			font-size: 36px;
			font-weight: 400;
			letter-spacing: -1.2px;
		}
		.subheading {
			font-size: 22px;
			font-weight: 200;
			margin-top: 1vh;
			line-height: 36px;
			letter-spacing: -0.4px;
			opacity: 0.8;
		}
	}
	.img {
		text-align: center;
		img {
			width: 44vw;
		}
	}
}
