@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Light.ttf);
	font-family: circular;
	font-weight: 200;
}

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Book.ttf);
	font-family: circular;
	font-weight: 400;
}

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Medium.ttf);
	font-family: circular;
	font-weight: 600;
}

@font-face {
	src: url(/resources/fonts/Circular/CircularStd-Bold.ttf);
	font-family: circular;
	font-weight: 800;
}

@font-face {
	src: url(/resources/fonts/Freight-Pro/FreightTextProBook-Regular.otf);
	font-family: freight;
	font-weight: 400;
}

@font-face {
	src: url(/resources/fonts/Freight-Pro/FreightTextProBold-Regular.otf);
	font-family: freight;
	font-weight: 800;
}

@keyframes push-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes push-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
